.container00 {
  display: grid;
  /* grid-template-columns: 250px 50px 100px;
  grid-template-rows: 150px 160px 50px  */

  /* rows / columns */
  grid-template: 150px 100px 50px / 250px 90px 100px;
}
.container2 {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;
}
.container3 {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  /* column-gap: 10px;
  row-gap: 100px; */

  gap: 40px;
}

.container4 > div {
  border: 1px solid blue;
}
.container4 {
  background-color: olive;
  /* display: grid; */
  display: none;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
  /* justify-items: stretch;
  align-items: stretch; */
  /* align-item justify-items */
  /* place-items: center stretch; */

  justify-content: space-evenly;
  align-content: end;
}

.container {
  display: inline-grid;
  grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
  background-color: lightblue;
}

.room{
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}
#living-room{
    grid-column-start: 1;
    grid-column-end: 3;
}
#kitchen{
    grid-column-start: 3;
    grid-column-end: 6;
}